doctype html
html(lang="ja")
  include includes/head.jade
  body
    include includes/navbar.jade
    include includes/carousel.jade
    include includes/summary.jade
    include includes/detail.jade
    div(class="container marketing")
      footer
        p(class="pull-right")
         a(href="#") Back to top
        p &copy;2014 Zio 
