doctype html
html
  include ./includes/product/head.jade
    title="NeoTune - アライメントショップ Zio"
  body
    include ./includes/sns_scripts.jade
    include ./includes/navbar.jade
    div(class="container theme-showcase" role="main")
      div(class="jumbotron")   
        h1 NeoTune
        p 今のお車の乗り心地に満足してますか？
        p 今乗っているお車のショックアブソーバーを加工してより良い乗り心地に調整します！
      div(class="page-header")
        h2 NeoTuneとは
      div(class="row")
        div(class="col-md-4")
          img(src="./assets/images/thumbnail_neotune_00.jpg" alt="neotune oil")
        div(class="col-md-8")
          p これまでの乗り心地はショックアブソーバーを社外品に交換というものが一般的でしたが、NeoTuneは純正ショックアブソーバーを加工して乗り心地を改善します。
          p お車にすでに装着済みのショックアブソーバーを取り外し、その場でお車に合わせてオイル封入加工・調整を行います。サスペンションのストローク量に合わせて異なる固さのオイルを封入することでよりよい足回りの動きを実現します。
          p 通常であれば、朝お車をお預かりして、夕方納車いたします。従来のショックアブソーバーの買い替えとはことなり安価・短時間で対応が可能です。
          p 特許取得技術（特許第4115505号）をぜひ一度おためしください！
      div(class="page-header")
        h2 Neotuneの特徴
      div(class="row")
        div(class="col-md-4")
          img(src="./assets/images/thumbnail_neotune_01.jpg" alt="neotune oil")
        div(class="col-md-8")
          ul
            li 乗り心地アップ
              ul
                li ノーマルよりソフトにもハードにもお客さまのご要望に合わせてオリジナルのセッティングをいたします
            li コーナリング性能アップ
              ul
                li ロール量やロール速度を低減してコーナリングの安定性を向上します
            li ブレーキング性能アップ
              ul
                li フロントダイブ量やダイブ速度を抑えブレーキング性能を向上します
            li 接地性能アップ
              ul
                li タイヤの変磨耗を低減し、タイヤの性能や寿命を向上します
            li 走行安定性アップ
              ul
                li アクセルとブレーキの無駄な操作を減らして、無駄な燃料消費を防ぎます
            li エコロジー
              ul
                li ノーマルショックアブソバーを再利用することで廃棄物の減らします
      div(class="page-header")
        h2 ラインナップ
      div(class="row")
        div(class="col-md-4")
          img(src="./assets/images/thumbnail_neotune_02.jpg" alt="neotune body")
        div(class="col-md-8")
          p NeoTuneは目的に合わせて3コースを揃えています。このラインナップを中心にお客さまのご要望に合わせたオリジナルのセッティングをいたします。
          ul
            li コンフォート(CFT)
              ul
                li 乗り心地を最優先にしたセッティング　ファミリーカー・タクシーなどに最適です。
            li スペシャル(STD)
              ul
                li ショックアブソーバーをリフレッシュしたい方向けのセッティング　幅広い車種に最適です。
            li カスタム(CUM)
              ul
                li 走りを求めたセッティング・ローダウン車両やキャンピングカーなど特殊な車両向けセッティング。
          p 車のバタつきを抑えたい・コーナーでの姿勢を安定させたい等などお客さまのご要望をお伝えください。それに合わせたセッティングを行います。
      div(class="page-header")
        h2 プライスリスト・作業時間
      div(class="row")
        div(class="col-md-4")
          img(src="./assets/images/thumbnail_price_00.jpg" alt="neotune body")
        div(class="col-md-8")
          p 価格はショックアブソーバーのオイル容量により追加が発生する場合があります
          ul
            li コンフォート(CFT)
              ul
                li 作業時間：4時間〜
                li お値段：64,000円〜
                  small (※税別)
            li スタンダート(STD)
              ul
                li 作業時間：4時間〜
                li お値段：64,000円〜
                  small (※税別)
            li カスタム(CUM)
              ul
                li 作業時間：4時間〜
                li お値段：70,000円〜
                  small (※税別)
      include ./includes/product/payment.jade
      include ./includes/product/inquiry.jade
      hr
    include ./includes/product/footer.jade