div(id="myCarousel" class="carousel slide" data-ride="carousel")
  ol(class="carousel-indicators")
    li(data-target="#myCarousel" data-slide-to="0" class="active")
    li(data-target="#myCarousel" data-slide-to="1")
    li(data-target="#myCarousel" data-slide-to="2")
  div(class="carousel-inner")
    div(class="item active")
      img(src="assets/images/carousel_00.jpg" alt="carousel_00")
      div(class="container")
        div(class="carousel-caption")
          h1 Neo Tune
          p サスペンションで悩んでいませんか？
          p ファミリーカーからタクシーまで国産車の95%に対応できます
          p
            a(class="btn btn-lg btn-primary" href="./index.html") Link
    div(class="item")
      img(src="assets/images/carousel_01.jpg" alt="carousel_01")
      div(class="container")
        div(class="carousel-caption")
          h1 アライメント測定・調整
          p 車がまっすぐ走らない・タイヤの偏摩耗が気になる・サーキットでタイムアタックしたい
          p 経験豊かなスタッフが対応いたします
          p
            a(class="btn btn-lg btn-primary" href="./index.html") Link
    div(class="item")
      img(src="assets/images/carousel_02.jpg" alt="carousel_02")
      div(class="container")
        div(class="carousel-caption")
          h1 お車のメンテナンス
          p オイル交換・タイヤ交換・板金・塗装・パーツ取り付け
          p 一度ご相談ください
          p
            a(class="btn btn-lg btn-primary" href="./index.html") Link
  a(class="left carousel-control" href="#myCarousel" data-slide="prev")
    span(class="glyphicon glyphicon-chevron-left")
  a(class="right carousel-control" href="#myCarousel" data-slide="next")
    span(class="glyphicon glyphicon-chevron-right")
