div(class="container marketing")
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-7")
      h2(class="featurette-heading") test hoge moge piyo
        span(class="text-muted") muted
      p(class="lead") this is lead
    div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_04.500x500.jpg" alt="thumbnail_04")
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_05.500x500.jpg" alt="thumbnail_05")
    div(class="col-md-7")
      h2(class="featurette-heading") test hoge moge piyo
        span(class="text-muted") muted
      p(class="lead") this is lead
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-7")
      h2(class="featurette-heading") test hoge moge piyo
        span(class="text-muted") muted
      p(class="lead") this is lead
    div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_06.500x500.jpg" alt="thumbnail_06")
  hr(class="featurette-divider")
