div(class="navbar-wrapper")
  div(class="container")
    div(class="navbar navbar-inverse navbar-static-top" role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="./index.html") Zio
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li
              a(href="./neotune.html") NeoTune
            li
              a(href="./alignment.html") アライメント
            li(class="dropdown")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") メンテナンス
                b(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="./maintenance.html#oil") オイル交換
                li
                  a(href="./maintenance.html#tire") タイヤ交換
                li
                  a(href="./maintenance.html#paint") 板金・塗装
                li
                  a(href="./maintenance.html#parts") パーツ取り付け
                // li(class="divider")
                // li(class="dropdown-header") 痛車
                // li
                  // a(href="./index.html") ステッカー
            li
              a(href="./access.html") アクセス
            li
              a(href="https://docs.google.com/forms/d/1rFs9SsjD7NJhI8J1MU4Gdnk7DX4Tx5OIbbssIaX-Uf0/viewform?usp=send_form") お問い合わせフォーム
            li
              a(href="https://www.facebook.com/ziojapan") facebook
