div(class="container marketing")
  div(class="row")
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_01.140x140.jpg" alt="thubnail_01.140x140")
      h2 Heading
      p hogemogehoge
      p
        a(class="btn btn-default" href="./index.html" role="button") Link
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_02.140x140.jpg" alt="thubnail_01.140x140")
      h2 Heading
      p hogemogehoge
      p
        a(class="btn btn-default" href="./index.html" role="button") Link
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_03.140x140.jpg" alt="thubnail_01.140x140")
      h2 Heading
      p hogemogehoge
      p
        a(class="btn btn-default" href="./index.html" role="button") Link
