div(class="container marketing")
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-7")
      h2(class="featurette-heading") NeoTune
      span(class="text-muted") 純正ショックアブソバーにスペシャルオイルでチューニング。乗り心地を大幅に改善します
      p(class="lead") 一般車両むけのスタンダード・ローダウン車やスポーツ車むけのカスタムをはじめ、お客さまのご希望やお車の状態に合わせて施工いたします。
      p(class="lead") 
        a(class="btn btn-default" href="./neotune.html" role="button") 商品紹介ページはこちら
    div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_03.500x500.jpg" alt="thumbnail_04")
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_04.500x500.jpg" alt="thumbnail_05")
    div(class="col-md-7")
      h2(class="featurette-heading") アライメント測定・調整
      span(class="text-muted") タイヤの角度を調整してより運転しやすい車に
      p(class="lead") ハンドルを切っていないと真っ直ぐ走らない。右と左で曲がり方がちがう。そんなことありませんか？アライメント調整してより運転しやすい車に仕上げます。
      p(class="lead")
        a(class="btn btn-default" href="./alignment.html" role="button") サービス紹介ページはこちら
  hr(class="featurette-divider")
  div(class="row featurette")
    div(class="col-md-7")
      h2(class="featurette-heading") Zioからのおしらせ
      span(class="text-muted") 施工車両を中心にご紹介します
      p(class="lead") 
        script(src="http://widget.feed.mikle.com/js/rssmikle.js")
          div(style="font-size:10px; text-align:right;")
            a(href="http://feed.mikle.com/" target="_blank") RSS Feed Widget
      p(class="lead") 
        a(class="btn btn-default" href="https://www.facebook.com/ziojapan" role="button") facebook pageはこちら
     div(class="col-md-5")
      img(class="featurette-image img-responsive" src="./assets/images/thumbnail_05.500x500.jpg" alt="thumbnail_06")
  hr