head
  title="NeoTune取扱店 アライメントショップ Zio"
  meta(charaset="utf-8")
  meta(name="google-site-verification" content="M-j9i1S48U6vX3dOn_1iAosbYqPYo4kQXr5aSWZ8kOc")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="乗り心地をグレードアップするNeoTune/アライメント測定・調整/タイヤ交換/オイル交換/板金・塗装　川口のチューニングショップZio")
  meta(name="keyword" content="NeoTune,ネオチューン,乗り心地,アライメント,タイヤ交換,オイル交換,板金,塗装,埼玉,川口,草加,ロヂャース")
  meta(name="author" content="ohsuke noguchi,and Zio all staff")
  meta(property="og:title" content="アライメントショップ Zio")
  meta(property="og:type" content="article")
  meta(property="og:description" content="乗り心地をグレードアップするNeoTune/アライメント測定・調整/タイヤ交換/オイル交換/板金・塗装なんでもZioおまかせ！")
  meta(property="og:url" content="http://zio-2011.com/")
  meta(property="og:image" content="http://zio-2011.com/assets/images/thumbnail_02.140x140.jpg")
  meta(property="og:site_name" content="alignment shop Zio")
  meta(property="og:email" content="info.zio2011@gmail.com")
  link(rel="stylesheet" href="./assets/css/bootstrap.min.css")
  link(rel="stylesheet" href="./assets/css/carousel.css")
  link(rel="stylesheet" href="./assets/css/sns_button.css")  
  script(src="./assets/js/jquery-1.11.0.min.js")
  script(src="./assets/js/bootstrap.min.js")
  script(src="./assets/js/docs.min.js")
  script(src="./assets/js/feed_parameter.js")