div(class="container marketing")
  div(class="row")
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_00.140x140.jpg" alt="thubnail_01.140x140")
      h2 NeoTune
      p 純正ショックを黄金に輝くオイルでチューニング！
      p スペシャルな乗り心地に！
      p 
        a(class="btn btn-default" href="./neotune.html" role="button") 商品紹介はこちら
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_01.140x140.jpg" alt="thubnail_01.140x140")
      h2 アライメント調整・測定
      p 乗り心地優先からサーキット走行用セッティングまで
      p お車に合わせてセッティングいたします
      p
        a(class="btn btn-default" href="./alignment.html" role="button") サービス紹介はこちら
    div(class="col-lg-4")
      img(class="img-circle" src="./assets/images/thumbnail_02.140x140.jpg" alt="thubnail_01.140x140")
      h2 アクセス
      p どんな作業でも一度ご相談ください
      p スタッフ一同おまちしております
      p
        a(class="btn btn-default" href="./access.html" role="button") アクセスはこちら
