div(class="container marketing")
  footer
    p(class="pull-right")
      a(href="#") Back to top
    p &copy;2014 Zio 埼玉県川口市新堀1155‐2  
      span(class="glyphicon glyphicon-phone-alt") 048-298-4120  
      span(class="glyphicon glyphicon-envelope") info.zio2011@gmail.com
    p
      img(src="./assets/images/logo_master.gif")
      img(src="./assets/images/logo_visa.gif")
      img(src="./assets/images/logo_amex.gif")
      img(src="./assets/images/logo_aplus.gif")