div(class="page-header")
  h2 お問い合わせ
div
  p お問い合わせはお電話・メール・お問い合わせフォームからお気軽にどうぞ
  p(class="glyphicon glyphicon-phone-alt") ・
  span(class="glyphicon glyphicon-print") 048-298-4120　
  p(class="glyphicon glyphicon-envelope") info.zio2011@gmail.com
  br
  a(class="btn btn-default" href="https://docs.google.com/forms/d/1rFs9SsjD7NJhI8J1MU4Gdnk7DX4Tx5OIbbssIaX-Uf0/viewform?usp=send_form" role="button") お問い合わせフォーム