div(class="page-header")
  h2 お支払い
div(class="row")
  div(class="col-md-4")
    img(src="./assets/images/thumbnail_payment_00.jpg" alt="credit cards")
  div(class="col-md-8")
    p 現金でのお支払い以外に、VISA・マスターカード・アメックスの各種クレジットカードもご利用いいただけます。
    p その他、アプラスローンではご利用時にTポイントもついてさらにお得に！