div(class="page-header")
  a(name="pickup")
  h2 車両ピックアップサービス
div(class="row")
  div(class="col-md-12")
    p お車を指定の場所まで取りにうかがいます！もちろん、作業終了後はご指定の場所までお届けします。 
    p ぜひ一度ご相談ください。
    ul
      li Zioから15ｋｍ圏内　6000円(税別片道)
      li Zioから30ｋｍ圏内　8000円(税別片道)
      li Zioから60ｋｍ圏内　10000円(税別片道)
